%btn {
  background-color: $background-btn;
  border-radius: 3px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4),
    -5px -5px 10px 0 rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.btn-checked {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  color: $color-accent !important;
}
