.cart{
   background-color: $color-blue-light;
   border-radius: 10px;
   padding: 10px;
   margin: 20px auto;
}

.cart__content{
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.cart__product{
   background-color: $background;
   padding: 10px;
   margin-top: 10px;
   border-radius: 10px;
   flex-basis: 65%;
}

.cart__product-title{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid $background-violet-light;
   padding-bottom: 10px;
   margin-bottom: 7px;
   p{
      font-size: 18px;
      color: $color-text-main;
      font-weight: 500;
      margin: 0;
   }
}

.cart__product-control{
   color: $color-text-main;
   p{
      font-size: 18px;
   }
}

.count-item-pages{
   margin-right: 20px;
}

.control-arrow{
   border: 1px solid $background-violet-light;
   background: transparent;
   width: 10px;
   height: 10px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover{
      background: $color-blue-light;
   }
}

.arrow-to-left{
   margin-left: 10px;
   img{
      rotate: 180deg;
   }
}

.cart__items{
   padding: 5px 0;
}

.cart__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1px 7px;
   border: 1px solid $background-violet-light;
   border-radius: 10px;
   gap: 15px;
   margin: 2px 0;
}

.cart__item-number{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border: 1px solid $background-violet-light;
   border-radius: 50%;
}

.cart__item-photo{
   width: 100px;
   height: 60px;
   border-radius: 10px;
   overflow: hidden;
   img{
      @extend %photo-center;
   }
}

.cart__item-info{
   flex-grow: 1;
}

.cart-name{
   font-size: 14px;
   font-weight: 700;
   margin: 0;
}

.cart-brand,
.cart-category,
.cart-rating{
   font-size: 12px;
   margin: 2px 0;
}

.cart__item-control{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.cart-stock{
   margin: 0;
   font-size: 14px;
   font-weight: 700;
   text-align: center;
}

.more-less{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   p{
      margin: 0;
      color: $color-text-main;
   }
}

.btn-control{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 1px solid $background-violet-light;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover{
      background: $color-blue-light;
   }   
}

.btn-control-less{
   img{
      rotate: 180deg;
   }
}
.cart-control-price{
   margin: 0;
   font-size: 18px;
   font-weight: 700;
}

.cart__pay{
   background-color: $background;
   padding: 10px;
   margin-top: 10px;
   border-radius: 10px;
   flex-basis: 31%;
   text-align: center;
}

.card__pay-title{
   margin: 0;
   padding-bottom: 10px;
   font-size: 20px;
   font-weight: 500;
   border-bottom: 1px solid $background-violet-light;
}

.card__pay-score,
.card__pay-sum,
.card__pay-sum-new{
   margin: 0;
   padding: 5px 0;
   font-size: 18px;
}

.card__pay-score{
   margin: 10px 0 0;
}

.sum-through{
   text-decoration: line-through;
}

.card__pay-codes{
   border: 1px solid $background-violet-light;
   border-radius: 10px;
   max-width: 290px;
   margin: 0 auto;
}

.card__pay-codes-title{
   margin: 0;
   padding: 5px 0;
   font-size: 18px;
   border-bottom: 1px solid $background-violet-light;
}

.card__pay-discount{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 260px;
   margin: 0 auto;
}

.card__pay-discount-name{
   margin: 8px 0;
   font-size: 14px;
}

.btn-discount{
   border: none;
   border-radius: 5px;
   background-color: red;
   color: $color-white;
   width: 50px;
   height: 25px;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover{
      background-color: darken( red, 5%);
   }
}

.discount-option{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 260px;
   margin: 5px auto 0;
}

.discount-option-name{
   margin: 5px 0;
   font-size: 14px;
}

.discount-option-btn{
   border: none;
   border-radius: 5px;
   background-color: #13d01c;
   color: $color-white;
   width: 50px;
   height: 25px;
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover{
      background-color: darken( #13d01c, 5%);
   }
}


.card__pay-input{
   margin: 15px auto 0;
   width: 180px;
   height: 25px;
   text-align: center;
   font-size: 16px;
   border: 1px solid $background-violet-light;
   border-radius: 5px;
   background-color: $background-gray-light;
   outline: none;   
}

.card__pay-promo{
   margin: 10px auto 0;
   font-size: 14px;
   color: #ccc;
}

.card__pay-btn{
   @extend %btn;
   width: 180px;
   height: 40px;
   border: none;
   cursor: pointer;
   margin: 40px auto 20px;
}







