*{
  box-sizing: border-box;
}
::placeholder {
  font-size: 13px;
  color: #bbb;
}
.capitalize {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}
.uppercase{
  text-transform: uppercase;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}